$black: #171717;
$gray: #444444;
$white-accent: #d8d8d8;
$white: #EDEDED;
$red: #DA0037;
$blue: #334257;

// Dark theme

$dark-background: #202020;
$dark-accent: rgb(53, 53, 53);
$dark-font: #EDEDED;

$border-radius: 16px;
$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

$breakpoint-mobile: 576px;
$breakpoint-tablet: 768px;
$breakpoint-dekstop: 992px;
$breakpoint-large: 1200px;
