@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
* {
  font-family: "Open Sans", sans-serif;
  letter-spacing: 0.75px;
  font-size: 16px;
}

* {
  transition: color 0.1s;
}

.app.dark-theme {
  background: #262626;
}

.app {
  width: 100%;
  min-height: 100vh;
}

.navbar.dark-theme {
  background: #ae6e13;
  color: white;
}

.navbar {
  padding: 1rem;
  background: #394960;
  color: white;
}
.navbar__content {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
}
.navbar__page-name {
  font-size: 1.5rem;
  padding: 0.5rem;
}
.navbar__theme-icon {
  font-size: 2rem;
  padding: 0.5rem;
  transition: 0.2s;
}
.navbar__theme-icon:hover {
  color: #cccccc;
  cursor: pointer;
}

.home {
  max-width: 1200px;
  margin: 1rem auto 2rem auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  gap: 2rem;
}

.calculator {
  grid-column: 1;
}
.calculator .formula.dark-theme {
  background: #333333;
  color: #d9d9d9;
}
.calculator .formula {
  background: white;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.calculator .formula__title {
  font-size: 1.5rem;
  margin-bottom: 1.5rem;
}
.calculator .formula__form {
  display: flex;
  flex-direction: column;
}
.calculator .formula__label {
  font-size: 0.95rem;
  margin-top: 1rem;
  margin-bottom: 0.5rem;
}
.calculator .formula__label:first-child {
  margin-top: 0;
}
.calculator .formula__input {
  padding: 0.5rem;
  border: none;
  background-color: white;
  border-radius: 8px;
  outline: none;
  width: 100%;
  background: inherit;
  color: inherit;
}
.calculator .formula__input::-webkit-outer-spin-button, .calculator .formula__input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.calculator .formula__input-wrapper.dark-theme {
  background: #404040;
  color: #d9d9d9;
  border: 0.5px solid #1a1a1a;
}
.calculator .formula__input-wrapper {
  background: white;
  border: 0.5px solid #1a1a1a;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px #454545 solid;
  cursor: text;
}
.calculator .formula__input-unit.dark-theme {
  color: #d9d9d9;
}
.calculator .formula__input-unit {
  padding-right: 0.5rem;
  display: block;
  white-space: nowrap;
  color: inherit;
}
.calculator .formula__result-name {
  margin-right: 0.5rem;
}
.calculator .formula__result-section.dark-theme {
  color: #d9d9d9;
  background: #ae6e13;
}
.calculator .formula__result-section {
  margin-top: 2rem;
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  padding: 0.5rem 1rem;
  background: #394960;
  color: white;
}
.calculator .formula__input-unit {
  color: #1a1a1a;
}
.calculator .formula .result.dark-theme {
  color: inherit;
}
.calculator .formula .result {
  color: #1a1a1a;
  text-align: center;
  pointer-events: none;
  min-width: 50px;
  width: 90px;
}

.fuel-prices.dark-theme {
  background: #333333;
  color: #d9d9d9;
}

.fuel-prices {
  grid-column: 1;
  grid-row: 2;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  border-radius: 16px;
  padding: 1rem;
}
.fuel-prices h2 {
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1rem;
}
.fuel-prices__prices {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.fuel-prices .price {
  cursor: pointer;
  padding: 1rem;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.fuel-prices .price:first-child.dark-theme {
  background-color: green;
}
.fuel-prices .price:first-child {
  background-color: #009900;
}
.fuel-prices .price:nth-child(2).dark-theme {
  background: #006600;
}
.fuel-prices .price:nth-child(2) {
  background: green;
}
.fuel-prices .price:nth-child(3).dark-theme {
  background: #4d4d4d;
}
.fuel-prices .price:nth-child(3) {
  background: #333333;
}
.fuel-prices .price:nth-child(4) {
  background: #262626;
}
.fuel-prices .price:nth-child(5).dark-theme {
  background: #1a85ff;
}
.fuel-prices .price:nth-child(5) {
  background: #3392ff;
}
.fuel-prices .price:hover {
  opacity: 0.85;
}
.fuel-prices .price__fuel-name {
  margin-bottom: 0.5rem;
}
.fuel-prices .price__amount {
  font-size: 1.25rem;
  font-weight: bold;
}

.blog.dark-theme {
  background: #333333;
  color: #d9d9d9;
}

.blog {
  grid-column: 1;
  background: white;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.blog__title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
}

.article {
  margin-bottom: 2rem;
}
.article__title {
  font-size: 1.25rem;
  margin-bottom: 1rem;
}

.footer {
  background: #454545;
  color: white;
  min-height: 2rem;
  padding: 1rem;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer__copyright {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .calculator .formula {
    padding: 2rem;
  }
  .calculator .formula__title {
    font-size: 2rem;
  }
  .calculator .formula__label {
    font-size: 1rem;
  }

  .fuel-prices {
    padding: 2rem;
  }
  .fuel-prices h2 {
    margin-bottom: 2rem;
    font-size: 2rem;
  }

  .blog {
    padding: 2rem;
  }
  .blog__title {
    font-size: 2rem;
  }
  .blog .article__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
  .blog .article__content {
    font-size: 1.1rem;
  }
}
@media (min-width: 992px) {
  .home {
    grid-template-columns: repeat(12, 1fr);
    padding: 1rem 2rem;
  }

  .calculator {
    grid-column: 1/7;
    grid-row: 1;
  }

  .fuel-prices {
    grid-column: 1/7;
    grid-row: 2;
  }

  .blog {
    grid-column: 7/13;
    grid-row: 1/4;
  }
}

/*# sourceMappingURL=App.css.map */
