@use './base/fonts.scss' as *;
@use './base/variables.scss' as *;

* {
  transition: color .1s;
}

.app.dark-theme {
  background: $bg-dark;
}

.app {
    width: 100%;
    min-height: 100vh;
  }

  .navbar.dark-theme {
    background: $accent-dark;
    color: $white;
  }

  .navbar {
    padding: 1rem;
    background: $accent-color;
    color: $white;

    &__content {
      margin: 0 auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      max-width: 1200px;
    }
    &__page-name {
      font-size: 1.5rem;
      padding: .5rem;
    }

    &__theme-icon {
      font-size: 2rem;
      padding: .5rem;
      transition: .2s;

      &:hover {
        color: $light-gray;
        cursor: pointer;
      }
    }
  }

  .home {
    max-width: 1200px;
    margin: 1rem auto 2rem auto;
    padding: 1rem;
    display: grid;
    grid-template-columns:  1fr;
    grid-template-rows: auto;
    gap: 2rem;
  }

  .calculator {
    grid-column: 1;

    .formula.dark-theme {
      background: $bg-accent-dark;
      color: $text-dark;
    }

    .formula {
      background: $background-accent;
      border-radius: 16px;
      padding: 1rem;
      box-shadow: $box-shadow;
    
      &__title {
        font-size: 1.5rem;
        margin-bottom: 1.5rem;
      }

      &__form {
        display: flex;
        flex-direction: column;
      }

      &__label {
        font-size: .95rem;
        margin-top: 1rem;
        margin-bottom: .5rem;
        
        &:first-child {
          margin-top: 0;
        }
      }

      @mixin input {
        padding: .5rem;
        border: none;
        background-color: $white;
        border-radius: 8px;
        outline: none;
      
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }
      }

      &__input {
        @include input;
        width: 100%;
        background: inherit;
        color: inherit;

        &-wrapper.dark-theme {
          background: $input-bg;
          color: $text-dark;
          border: .5px solid $black;
        }

        &-wrapper {
          background: $background-accent;
          border: .5px solid $black;
          border-radius: 8px;
          display: flex;
          justify-content: space-between;
          align-items: center;
          border-bottom: 1px $gray solid;
          cursor: text; 
        }

        &-unit.dark-theme {
          color: $text-dark;
        }
        &-unit {
          padding-right: .5rem;
          display: block;
          white-space: nowrap;
          color: inherit;
        }
      }

      &__result-name {
        margin-right: .5rem;
      }

      &__result-section.dark-theme {
        color: $text-dark;
        background: $accent-dark;
      }

      &__result-section {
        margin-top: 2rem;
        align-self: center;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 16px;
        padding: .5rem 1rem;
        background: $accent-color;
        color: $white;
      }

      &__input-unit {
        color: $black
        //!!!
      }
      
      .result.dark-theme {
        color: inherit;
      }

      .result {
        color: $text;
        text-align: center;
        pointer-events: none;
        min-width: 50px;
        width: 90px;
      }
  }
}

.fuel-prices.dark-theme {
  background: $bg-accent-dark;
  color: $text-dark;
}

.fuel-prices {
  grid-column: 1;
  grid-row: 2;
  background: $white;
  box-shadow: $box-shadow;
  border-radius: 16px;
  padding: 1rem;

  h2 {
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
  }

  
  &__prices {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }

  .price {
    cursor: pointer;
    padding: 1rem;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &:first-child.dark-theme {
      background-color: hsl(120, 100%, 25%);
    }

    &:first-child {
      background-color: hsl(120, 100%, 30%);
    }
    
    &:nth-child(2).dark-theme {
      background: hsl(120, 100%, 20%);
    }

    &:nth-child(2) {
      background: hsl(120, 100%, 25%);
    }

    &:nth-child(3).dark-theme {
      background: hsl(0, 0%, 30%);
    }

    &:nth-child(3) {
      background: hsl(0, 0%, 20%);
    }

    &:nth-child(4) {
      background: hsl(0, 0%, 15%);
    }

    &:nth-child(5).dark-theme {
      background: hsl(212, 100%, 55%);
    }

    &:nth-child(5) {
      background: hsl(212, 100%, 60%);
    }

    &:hover {
      opacity: 0.85;
    }

    &__fuel-name {
      margin-bottom: .5rem;
    }

    &__amount {
      font-size: 1.25rem;
      font-weight: bold;
    }
  }
}

// .info {
//   grid-column: 1;
//   height: fit-content;
//   background-color: $white-accent;
//   box-shadow: $box-shadow;
//   border-radius: 16px;
//   padding: 1rem;

//   &__title {
//     font-size: 1.25rem;
//     margin-bottom: 1rem;
//   }

//   &__text {
//     margin-bottom: 1rem;
//   }
// }

.blog.dark-theme {
  background: $bg-accent-dark;
  color: $text-dark;
}

.blog {
  grid-column: 1;
  background: $background-accent;
  border-radius: 16px;
  padding: 1rem;
  box-shadow: $box-shadow;

  &__title {
    font-size: 1.5rem;
    margin-bottom: 2rem;
  }
}

.article {
  margin-bottom: 2rem;

  &__title {
    font-size: 1.25rem;
    margin-bottom: 1rem;
  }
}

.footer {
  background: $gray;
  color: $font-color-opposite;
  min-height: 2rem;
  padding: 1rem;
  position: relative;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;

  &__copyright {
    font-size: .9rem;
  }
}

@media (min-width: $breakpoint-tablet) {
  .calculator {
    .formula {
      padding: 2rem;

      &__title {
        font-size: 2rem;
      }

      &__label {
        font-size: 1rem;
      }
    }
  }

  .fuel-prices {
    padding: 2rem;

    h2 {
      margin-bottom: 2rem;
      font-size: 2rem;
    }
  }

  .blog {
    padding: 2rem;

    &__title {
      font-size: 2rem;
    }
    .article {
    
      &__title {
        font-size: 1.25rem;
        margin-bottom: 1rem;
      }

      &__content {
        font-size: 1.1rem;
      }
    }
  }
}

@media (min-width: $breakpoint-desktop) {
  .home {
    grid-template-columns:  repeat(12, 1fr);
    padding: 1rem 2rem;
  }

  .calculator {
    grid-column: 1 / 7;
    grid-row: 1;
  }

  .fuel-prices {
    grid-column: 1 / 7;
    grid-row: 2;
  }

  .blog {
    grid-column: 7 / 13;
    grid-row: 1 / 4;
  }
}
  